
# a list of local files I don't uploaded.
driver*
*sandbox*
test_chart_string.ipynb
*ignore*
demo*
jooglechart/reveal.js/*
jooglechart/reveal.js.zip
*.html
jooglechart/custom.css
jooglechart/JoogleChart_sonar_unit_tests.ipynb
jooglechart/JoogleChart_unit_tests.ipynb

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


############################
#Eclipse Specific GitIgnore#
############################
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath


# https://github.com/ipython/ipython/blob/master/.gitignore
MANIFEST
build
dist
_build
docs/man/*.gz
docs/source/api/generated
docs/source/config/options
docs/source/interactive/magics-generated.txt
docs/gh-pages
jupyter_notebook/notebook/static/mathjax
jupyter_notebook/static/style/*.map
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
*.swp