<script type="text/javascript">

$(document).ready(function() {

	{% include 'js_library_loading.html' %}

});

    function {{ callback_name }}() {
    
        {% for jg in chartrow.jcs %}
    // ==================== CHARTROW CHART {{ loop.index }} ============================= //
  		{% include 'js_jooglechart.html' %}
    // ==================================================================== //
            
        {% endfor %}
    }
    
</script>
<noscript>
  {% if notebook_url %}
  It looks like you have javascript disabled or are in an environment
  where javascript is not available.
  View Notebook on Ishbook here:
  {{notebook_url}}
  {% endif %}
</noscript>

{% include 'css_jooglechart.html' %}

<div class="row">
    {% for jg in chartrow.jcs %}
    <div class="col-sm-{{ chartrow.bootstrap_num }}">
		{% include 'html_jooglechart.html' %}
    </div>
    {% endfor %}
</div>


