


<script type="text/javascript">

  {% include 'js_library_loading.html' %}

    function {{ callback_name }}() {
    

    {% include 'js_data.html' %}
        
    {% include 'js_formatters.html' %}

    {% include 'js_chartwrapper.html' %}
    
    
        {% if jg.filters %}
      {% include 'js_dashboard.html' %}
        
        {% else %}
          {% for chart in jg.charts %}
        
            whenDivAvailable('{{ chart.chart_div_id }}', function() {
              {{ chart.name }}.draw();
            });
        
          {% endfor %}
        
        {% endif %}


    {% if true %}
    	{% include 'js_series_filter.html' %}
    {% endif %}



    }
    
</script>
<noscript>
  {% if notebook_url %}
  It looks like you have javascript disabled or are in an environment
  where javascript is not available.
  View Notebook on Ishbook here:
  {{notebook_url}}
  {% endif %}
</noscript>

<div id="colFilter_div"></div>


{% if jg.filters %}

{% include 'html_dashboard.html' %}

{% else %}

{% include 'html_chart.html' %}

{% endif %}

