		var buttons = new joogle_globals.ButtonGroup({
			'container_id': "{{ bg._div_id }}",
			'add_clear': {{ bg._clear_button }},
			'clear_button_position': "{{ bg._clear_button_position }}",
			'values': {{ bg._values|to_json }},
			'type': "{{ bg._type }}",
			'button_group_class': '{{ bg._button_group_class }}',
			'title': {{ bg._title|to_json }},
			'initial_values': {{ bg._initial_values|to_json }}
		});

		// -----------  add buttongroup sonar handlers ------------------
		{% include 'js_button_group_receivers.html' %}
		// --------------------------------------------
		// --------- Add buttongroup sonar senders, if any ---------
		{% include 'js_button_group_senders.html' %}
		// ---------------------------------------------

		buttons.draw();
