

		var senders = [];
		var values = {{ bg._values|to_json }};
		var add_clear = {{ bg._clear_button }};	
		var id = "{{ bg._div_id }}";
		var $div = $("#" + id);
		{% if bg._initial_values %}
		var initial_values = {{ bg._initial_values|to_json }};
		{% endif %}
		{% if bg._title %}
		var title = "{{ bg._title }}";
		{% endif %}
		var type = "{{ bg._type }}";
		var btn_group_class = '{{ bg._button_group_class }}';

		function get_selected_values() {
			var selected_values = [];
			$div.find("input:checked").each(function(){
				selected_values.push(this.value);
			});
			return selected_values;
		}


		/*
			To get the inputs clicked properly, I had to put the click on event on the
			label and then trigger click on the input before calling senders.  PITA.
		*/
		function create_buttons(id, values, type) {
			// create labels, checkboxes/radios, attach click events
			$div.addClass(btn_group_class).attr('data-toggle', "buttons");
			for (var i = 0; i < values.length; i++) {
				var value = values[i];
				var $label = $("<label>");
				var $input = $("<input>");
				$input.attr("type", type).attr("value", value).click(function(event) {
					if (type == "radio") {  // For radio, need to force uncheck the other inputs.  PITA.
						$div.find("input").not($(this)).attr("checked", false);
					}
					event.stopPropagation();  // stop bubbling up to label
				})
				$label.addClass("btn btn-default").html(value).prepend($input).click(function(event) {
					// event.preventDefault();
					this.childNodes[0].click(); // get child input and click					
					//$(this).find("input").click();
					call_senders();
				});
				$div.append($label);
			}
			if (add_clear) { add_clear_button(); }			
			if (typeof initial_values != "undefined") {
				update_button_group(initial_values);
			}
			if (typeof title !== "undefined") {
				add_title(title);
			}
		}
		
		function clear_buttons() {
			$div.find("label").each(function() {
				$div.find("input").attr('checked', false);
				$(this).removeClass("active");
			});
		}
		
		function add_clear_button() {
			var $button = $("<button>");
			$button.addClass("btn btn-default").html("clear all").{{ bg._append_or_prepend }}To($div)
			{% if bg._clear_button_bold %}.css("font-weight", "bold"){% endif %}
			.click(function() {
				clear_buttons();
				$button.blur();
				call_senders();
			});
		}
		
		function add_title() {
			var title_styles = {'font-weight': 'bold', 'outline': 'none', 'cursor': 'default'};
			var $title_div = $("<div>");
			$title_div.css(title_styles).addClass("btn").text(title).prependTo($div);
		}
		
		
		// define call_senders before call to create_buttons()
		function call_senders() {
			for (var i = 0; i < senders.length; i++) {
				senders[i]();
			}
		}



		function update_button_group(values) {

			if (type == "radio" && values.length > 1) {
				values = [values[0]];
			}
			clear_buttons();
			//$("#" + id).find("label").each(function(index, value) {
			$div.find("label").each(function(index, value) {
				var label = this;
				var input = label.childNodes[0];
				var input_val = input.value;
				if ($.inArray(input_val, values) >= 0) {
					label.className += " active";
					input.checked = true;
				}

				//var $label = $(this);
				//var $input = $label.find("input");
				//var input_val = $input.attr("value");
				//if ($.inArray(input_val, values) >= 0) {
				//	label.className += " active";
				//	$input.prop("checked", true);
				//}
			});
			call_senders();
		}
		
		
		// -----------  add buttongroup sonar handlers ------------------
		{% include 'js_button_group_receivers.html' %}
		// --------------------------------------------
		// --------- Add buttongroup sonar senders, if any ---------
		{% include 'js_button_group_senders.html' %}
		// ---------------------------------------------
		create_buttons(id, values, type);
		
