        // Create a dashboard.
        var {{ jg.dashboard_name }} = new google.visualization.Dashboard(
            document.getElementById('{{ jg.dashboard_div_id }}'));

        // Create controls
			{% for filter in jg.filters %}
			
			{% if filter._global_name %}
        {{ filter._name }} = new google.visualization.ControlWrapper({
			{% else %}
        var {{ filter._name }} = new google.visualization.ControlWrapper({
			{% endif %}
          'controlType': '{{ filter._type }}',
          'containerId': '{{ filter._div_id }}',
          'options': {{ filter._options|default("{}")|to_json }},
          'state': {{ filter._state|default("{}")|to_json }}
        });
			{% endfor %}

        // Establish dependencies.
			{% for filter in jg.filters %}
        		{% if filter._bind_target %}
		{{ jg.dashboard_name }}.bind({{ filter._name }}, {{ filter._bind_target._name }});
			    {% else %}
			    	{% for chart in jg.charts %}
		{{ jg.dashboard_name }}.bind({{ filter._name }}, {{ chart.name }});
					{% endfor %}
				{% endif %}
			{% endfor %}

		// ------------- Add filter sonar senders, if any ----------
		{% for filter in jg.filters %}
			{% include 'js_filter_senders.html' %}
		{% endfor %}
		// ---------------------------------------------------------

		// ----------- Add filter sonar receivers, if any ----------
        {% for filter in jg.filters %}
			{% include 'js_filter_receivers.html' %}
        {% endfor %}
		// ---------------------------------------------------------

        // Draw the dashboard.
        {{ jg.dashboard_name }}.draw({{ jg.data_name }});
        
        