
{% if filter._senders %}

		var sending_keys = [];
		{% for sender in filter._senders %}
		sending_keys.push("{{ sender.key }}");
		{% endfor %}

		function filter_send_values(filter, datatable, key) {
			var selected_values = filter.getState().selectedValues;
			joogle_globals.sonar.send(key, {'selected_values': selected_values, 'series_names': {{ filter._name }}.__series_names} );
		}
		
		function filter_send_range(filter, key) {
			var low_value = filter.getState().lowValue;
			var high_value = filter.getState().highValue;
			joogle_globals.sonar.send(key, [low_value, high_value]);		
		}

{% endif %}

{% for sender in filter._senders %}
		{% include "js_flush_message_map.html" %}
		
        google.visualization.events.addListener({{ filter._name }}, "{{ sender.on }}", function () {
		{% if sender.type == 'values' %}
			filter_send_values({{ filter._name }}, {{ datatable }}, "{{ sender.key }}");			

		{% elif sender.type == 'range' %}
			filter_send_range({{ filter._name }}, "{{ sender.key }}");
		{% endif %}
		});		

		{% if sender.on == 'statechange' and filter._has_selected_values %}
		// Add a one time listener to broadcast the initialized values.
        google.visualization.events.addOneTimeListener({{ filter._name }}, "ready", function () {
		{% if sender.type == 'values' %}
			filter_send_values({{ filter._name }}, {{ datatable }}, "{{ sender.key }}");			
			
		{% elif sender.type == 'range' %}
			filter_send_range({{ filter._name }}, "{{ sender.key }}");
		{% endif %}
		});		
		{% endif %}
{% endfor %}
		