
		{% if filter._json %}
		var data = new google.visualization.DataTable({{ filter._json }});
		{% else %}
        var data = new google.visualization.DataTable();
        data.addColumn('{{ filter._data_type }}', 'choices');
		{% endif %}

		var {{ filter._name }} = new google.visualization.ControlWrapper({
			'controlType': '{{ filter._type }}',
			'containerId': '{{ filter._div_id }}',
			'dataTable': datatable,
			'options': {{ filter._options|default("{}")|to_json }},
			'state': {{ filter._state|default("{}")|to_json }}
		});
		
		// Add sonar senders, if any
		{% include 'js_filter_senders.html' %}

        // Add sonar receivers, if any
		{% include 'js_filter_receivers.html' %}
        
		{{ filter._name }}.draw();
