{% for receiver in filter._receivers %}
		{% if receiver.action == "update_values" %}			
		(function(key, filter, div_id) {
			var func = function(data) {
				if (data.sonar_key === key && document.getElementById(div_id) !== null) {
					joogle_globals.update_category_filter(filter, data.sonar_value);
				}
			}
			joogle_globals.sonar.add_handler(func);
			joogle_globals.sonar.add_one_time_ready_poller(key, func, filter);
		})("{{ receiver.key }}", {{ filter._name }}, "{{ filter._div_id }}");
		{% elif receiver.action == "update_range" %}
		(function(key, filter, div_id) {
			var func = function(data) {
				if (data.sonar_key === key && document.getElementById(div_id) !== null) {
					joogle_globals.update_range_filter(filter, data.sonar_value);
				}
			}
			joogle_globals.sonar.add_handler(func);
			joogle_globals.sonar.add_one_time_ready_poller(key, func, filter);
		})("{{ receiver.key }}", {{ filter._name }}, "{{ filter._div_id }}");
		{% elif receiver.action == "update_binding_values" %}
		(function(key, filter, div_id, datatable, bound_column, sending_keys) {
			var func = function(data) {
				if (data.sonar_key === key && document.getElementById(div_id) !== null) {
					joogle_globals.update_filter_binding_selection(data.sonar_value, datatable, filter, bound_column, sending_keys);
				}
			}
			joogle_globals.sonar.add_handler(func);
			joogle_globals.sonar.add_one_time_ready_poller(key, func, filter);
		})("{{ receiver.key }}", {{ filter._name }}, "{{ filter._div_id }}", {{ datatable }}, {{ receiver.bound_column }}, sending_keys);
		{% endif %}
{% endfor %}
		