    {% include 'js_data.html' %}
        
    {% include 'js_formatters.html' %}

    {% include 'js_chartwrapper.html' %}
    
		// -------------- Add chartwrapper senders, if any -------------
          {% include 'js_chartwrapper_senders.html' %}
		// -------------------------------------------------------------

		// -------------- Add chartwrapper receivers, if any -------------
          {% include 'js_chartwrapper_receivers.html' %}
		// ---------------------------------------------------------------
    
        {% if jg.filters %}
      {% include 'js_dashboard.html' %}
        
        {% else %}
        {% for chart in jg.charts %}
        {{ chart.name }}.draw();
        {% endfor %}
        {% endif %}


    {% if jg._series_filter %}
    	{% include 'js_series_filter.html' %}
    {% endif %}
