		var legend = new joogle_globals.Legend({
			'series': {{ legend._values|to_json }},
			'colors': {{ legend._colors|to_json }},
			'div_id': "{{ legend._div_id }}",
			'key_style': '{{ legend._key_style }}',
			'initial_values': {{ legend._initial_values|to_json }}
			
		});

		// -----------  add legend sonar handlers ------------------
		{% include 'js_legend_receivers.html' %}
		// --------------------------------------------
		// --------- Add legend sonar senders, if any ---------
		{% include 'js_legend_senders.html' %}
		// ---------------------------------------------

		legend.draw();
