{% if common %}
{% include "common_template.html" %}
{% endif %}

<script type="text/javascript">

$(document).ready(function() {
	{% include 'js_library_loading.html' %}
});

    function {{ callback_name }}() {
    
    	{% include 'js/toggler.js' %}    	

    
    }
</script>

<div id="{{ toggler._div_id }}" {{ bg._div_styles|format_styles_list }}>
	
	<div class="joogle_clearfix">
		<span class="toggle_prompt">
			<span class="toggle_text"></span>
			<i class="fa" aria-hidden="true"></i>
		</span>
	</div>

    <div class="toggle_content">
	{{ toggler._content_string }}
	</div>
	
</div>
		
<div id="{{ toggler._div_id }}" {{ toggler._div_styles|format_styles_list }}></div>

{% include 'css/toggler.css' %}		
