<style>
#joogle_box_2 > div {
	display: default;
	vertical-align: default;
}

.joogle_toggler .toggle_prompt {
    border-radius: 4px;
    color: #666;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-decoration: none;
}

.joogle_toggler .toggle_prompt:hover {
    text-decoration: underline;
	cursor:pointer;
}

.joogle_toggler .toggle_content {
	border: 1px solid #eee;
	border-radius: 4px;
    margin: 5px 0;
    padding: 5px 10px;
    width: auto;
}


</style>
