


<script type="text/javascript">

	{% include 'js_library_loading.html' %}

    function doStuff() {
    

		{% include 'js_data.html' %}
        
		{% include 'js_formatters.html' %}

		{% include 'js_chartwrapper.html' %}
		
		
		

        {% if chart.filters %}
			{% include 'js_dashboard.html' %}
        
        {% else %}
        
        {{ chart.name }}.draw();
        
        {% endif %}
    }
    
</script>
{% if chart.filters %}
<div id="{{ chart.dashboard_div_id }}">
	{% for filter in chart.filters %}
	<div id="{{ filter.div_id }}"></div>
	{% endfor %}
	<div id="{{ chart.chart_div_id }}" {{ chart.div_styles|format_styles_list }}></div>
</div>
{% else %}
<div id="{{ chart.chart_div_id }}" {{ chart.div_styles|format_styles_list }}></div>
{% endif %}

