


<script type="text/javascript">

	{% include 'js_library_loading.html' %}

    function doStuff() {
    

		{% include 'js_data.html' %}
        
		{% include 'js_formatters.html' %}

		{% include 'js_chartwrapper.html' %}
		
        {% if chart.filters %}
			{% include 'js_dashboard.html' %}
        
        {% else %}
        
        {{ chart.name }}.draw();
        
        {% endif %}
    }
    
</script>
{% if chart.filters %}

{% include 'html_dashboard.html' %}

{% else %}

{% include 'html_chart.html' %}

{% endif %}

