        // Create ChartWrapper
{# If columns have been specified to be hidden, add a view that #}
{# only shows the other columns. #}
	{% for chart in jg.charts %}
        var {{ chart.name }} = new google.visualization.ChartWrapper({      
            "containerId": "{{ chart.chart_div_id }}",
            "dataTable": {{ jg.data_name }},
            {% if chart.view_cols %}
            "view": {columns: {{ chart.view_cols }}},  
            {% endif %}
            "chartType": "{{ chart.display_chart_type }}",
            "options": {{ chart.chart_options|to_json }}
        });
    {% endfor %}
