        // Create DataTable object from DataTable constructor or arrayToDatable()
        {% if chart.json %}
        var {{ chart.data_name }} = new google.visualization.DataTable({{ chart.json }});
        {% else %}
        var {{ chart.data_name }} = new google.visualization.arrayToDataTable({{ chart.data }})
        {% endif %}
        
{#        var {{ chart.view_name }} = new google.visualization.DataView({{ chart.data_name }});#}
        
{#        {% if chart.hide_cols %}#}
{#        {{ chart.view_name }}.hideColumns({{ chart.hide_cols }})        #}
{#        {% endif %}#}
