        // Create a dashboard.
        var {{ jg.dashboard_name }} = new google.visualization.Dashboard(
            document.getElementById('{{ jg.dashboard_div_id }}'));

        // Create controls
			{% for filter in jg.filters %}
        var {{ filter.name }} = new google.visualization.ControlWrapper({
          'controlType': '{{ filter.type }}',
          'containerId': '{{ filter.div_id }}',
          'options': {{ filter.options|default("{}")|to_json }},
          'state': {{ filter.state|default("{}")|to_json }}
        });
			{% endfor %}

        // Establish dependencies.
			{% for filter in jg.filters %}
        		{% if filter.bind_target %}
		{{ jg.dashboard_name }}.bind({{ filter.name }}, {{ filter.bind_target.name }});
			    {% else %}
			    	{% for chart in jg.charts %}
		{{ jg.dashboard_name }}.bind({{ filter.name }}, {{ chart.name }});
					{% endfor %}
				{% endif %}
			{% endfor %}

        // Draw the dashboard.
        {{ jg.dashboard_name }}.draw({{ jg.data_name }});
